# SBT
target/
project/target/
project/project/
.sbt/
.sbt.lock
.sbt-scripted/
local.sbt
.scalafmt.conf

# Bloop
.bsp/
.bloop/

# VS Code
.vscode/

# IntelliJ
*.iml
*.ipr
*.iws
*.idea/
.idea_modules/

# Metals
.metals/
.metals/.reports
metals.sbt

# IDEA
.idea/
.idea_modules/
.worksheet/

# MacOS
.DS_Store

# Logs
logs/
*.log

# Temporary files
tmp/
*.tmp

# Compiled class files
*.class

# ScalaTest reports
test-reports/

# Coverage reports
coverage/
.coverage/
.coverage.*

# Dependency caches
lib_managed/
src_managed/

# bash
bash.exe.stackdump